<%= render "shared/navbar" %>
<div class="container">
    <!-- Registration Form Section -->
    <div class="row">
      <!-- Registration Form Section -->
      <div class="col-md-6">
        <h2 class="text-center">Sign up new Invites</h2>

        <%= simple_form_for(@new_user, url: hidden_path, method: :post) do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <%= f.label :email, 'Email' %>
            <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, label: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, 'Password' %>
            <%= f.input :password, required: true, hint: " Minimum 6 characters", input_html: { autocomplete: "new-password" }, label: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, 'Password Confirmation' %>
            <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }, label: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :name, 'Name' %>
            <%= f.input :name, required: true, input_html: { autocomplete: "name" }, label: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :personal_message_us, 'Our personnal message?' %>
            <%= f.input :personal_message_us, required: false, input_html: { autocomplete: "personal_message_us" }, label: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :vip, 'vip?' %>
            <%= f.input :vip, required: false, input_html: { autocomplete: "vip" }, label: false, class: "form-control" %>
          </div>
          <div class="form-check">
            <%= f.check_box :is_admin, class: "form-check-input" %>
            <%= f.label :is_admin, class: "form-check-label" %>
          </div>

          <div class="form-group mt-3">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>


    <!-- Invitees List Section -->
<!-- Invitees List Section -->
<div class="col-md-6">
  <h2 class="text-center">Invitees List</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.name %></td>
              <td><%= user.is_admin ? 'Admin' : 'User' %></td>
              <td>
                <!-- Toggle Edit Form Button -->
                <button onclick="toggleEditForm(<%= user.id %>)" type="button" class="btn btn-primary">
                  Toggle
                </button>
              </td>
            </tr>
            <tr id="editForm<%= user.id %>" style="display:none;">
              <td colspan="4">
              <%= simple_form_for(user, url: registration_path(user), method: :patch) do |f| %>
              <div class="form-group">
                <%= f.label :email, 'Email' %>
                <%= f.input :email, required: true, label: false, input_html: { value: user.email, class: "form-control" } %>
              </div>
              <div class="form-group">
                <%= f.label :title, 'Title' %>
                <%= f.input :title, required: true, label: false, input_html: { value: user.title, class: "form-control" } %>
              </div>
              <div class="form-group">
                <%= f.label :name, 'Name' %>
                <%= f.input :name, required: true, label: false, input_html: { value: user.name, class: "form-control" } %>
              </div>
              

              <div class="form-group">
                <%= f.label :is_admin, 'Role' %>
                <%= f.select :is_admin, [['Admin', true], ['User', false]], selected: user.is_admin, include_blank: false, label: false, class: "form-control" %>
              </div>

              <div class="form-group mt-3">
                <%= f.button :submit, "Save Changes", class: "btn btn-primary" %>
              </div>
            <% end %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function toggleEditForm(userId) {
    var form = document.getElementById('editForm' + userId);
    form.style.display = form.style.display === 'none' ? '' : 'none';
  }
</script>
