<%= render "shared/navbar" %>

<!-- Begin table structure -->
<table class="table">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Question Text</th>
      <th>Options</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <!-- Edit existing questions form -->
    <%= form_tag(update_question_path, method: :post, id: "question-form") do %>

      <% @questions.each do |question| %>
        <tr>
          <td>
            <%= number_field_tag "questions[][order_nr]", question.order_nr, min: 0 %>
          </td>
          <td>
            <%= hidden_field_tag "questions[][id]", question.id %>
            <%= text_field_tag "questions[][question_text]", question.question_text %>
          </td>
          <td>
            <% question.options.each_with_index do |option, index| %>
              <%= text_field_tag "questions[][options][]", option, id: "question_#{question.id}_option_#{index}" %>
            <% end %>
            <!-- Placeholder for adding new options -->
            <%= text_field_tag "questions[][options][]", nil, placeholder: 'Add option', class: 'option-field' %>
          </td>
          <td>
            <%= button_to(delete_question_path(question), method: :delete, class: "delete-question-form", data: { confirm: "Are you sure?" }) do %>
              <i class="fas fa-times"></i> <!-- Icon for delete action -->
            <% end %>
          </td>
        </tr>
      <% end %>
      <!-- Save changes button -->
      <tr>
        <td colspan="4">
          <%= submit_tag "Save Changes", class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>

    <!-- Add new question form -->
    <%= form_tag(create_question_path, method: :post, id: "new-question-form") do %>
      <tr>
        <td colspan="2">
          <%= text_field_tag "new_question[question_text]", nil, placeholder: 'Enter new question' %>
        </td>
        <td>
          <% 5.times do |index| %>
            <%= text_field_tag "new_question[options][]", nil, placeholder: "Option #{index + 1}", id: "new_question_option_#{index}" %>
          <% end %>
        </td>
        <td>
          <%= submit_tag "Add New Question", class: "btn btn-success" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
