<style>
.custom-badge {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.badge-margin {
    margin: 5px; /* Adjust the value as needed */
}
</style>


<% @phase = current_user&.phase || 2 %>
    <%= render "shared/navbar" %>
<div class="container">
    <!-- Registration Form Section -->
    <div class="row">
      <!-- Registration Form Section -->
      <div class="col-md-6">
        <h2 class="text-center">Sign up new Invites</h2>

        <%= simple_form_for(@new_user, url: hidden_path, method: :post) do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <%= f.label :email, 'Email' %>
            <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, label: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, 'Password' %>
            <%= f.input :password, required: true, hint: " Minimum 6 characters", input_html: { autocomplete: "new-password" }, label: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, 'Password Confirmation' %>
            <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }, label: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :name, 'Name' %>
            <%= f.input :name, required: true, input_html: { autocomplete: "name" }, label: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :personal_message_us, 'Our personnal message?' %>
            <%= f.input :personal_message_us, required: false, input_html: { autocomplete: "personal_message_us" }, label: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :vip, 'vip?' %>
            <%= f.input :vip, required: false, input_html: { autocomplete: "vip" }, label: false, class: "form-control" %>
          </div>
          <div class="form-check">
            <%= f.check_box :is_admin, class: "form-check-input" %>
            <%= f.label :is_admin, class: "form-check-label" %>
          </div>



          <div class="form-group mt-3">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>


    <!-- Invitees List Section -->
<!-- Invitees List Section -->
<div class="col-md-6">
  <h2 class="text-center">Invitees List</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Answered Save the date?</th>
        <th>invited Friday</th>
        <th>invited to Ceremony</th>
        <th>Answer friday?</th>
        <th>Answer ceremony?</th>
        <th>Answer reception?</th>
        <th>Answer dinner?</th>
        <th>Answer the invition?</th>

        <th>Dietary Restriction</th>
        <th>Plus ones?</th>
        <th>Reset Seating</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
   <% @users.each do |user| %>
   <% has_answered = user.answer_friday == 'yes' ||user.answer_ceremony == 'yes' || user.answer_reception == 'yes' || user.answer_diner == 'yes' %>

    <tr>
      
      <td>
      <!-- Toggle Edit Form Button -->
        <button onclick="toggleEditForm(<%= user.id %>)">
        <%= user.email %>
        </button>
        <!-- Reset Question Button -->
      </td>
      
      <td>
        <!-- Display 'Has Answered' if the address is not empty -->
        <% if user.address.present? %>
          <span class="custom-badge badge-margin">Answered</span>
        <% end %>
      </td>

      <td>
        <%= button_to user.friday, user_registrations_togglefriday_path(user), method: :put, remote: true, class: "btn btn-sm btn-toggle", id: "friday-button-#{user.id}" %>
      </td>
      <td>
        <%= button_to user.ceremony, user_registrations_toggleceremony_path(user), method: :put, remote: true, class: "btn btn-sm btn-toggle", id: "ceremony-button-#{user.id}" %>
      </td>

      <% if !has_answered %>
      <td>
        <%= button_to user.answer_friday, user_registrations_answerfriday_path(user), method: :put, remote: true, class: "btn btn-sm btn-toggle", id: "friday_answer-button-#{user.id}" %>
      </td>
      <td>
        <%= button_to user.answer_ceremony, user_registrations_answerceremony_path(user), method: :put, remote: true, class: "btn btn-sm btn-toggle", id: "ceremony_answer-button-#{user.id}" %>
      </td>
      <td>
        <%= button_to user.answer_reception, user_registrations_answerreception_path(user), method: :put, remote: true, class: "btn btn-sm btn-toggle", id: "reception_answer-button-#{user.id}" %>
      </td>
      <td>
        <%= button_to user.answer_diner, user_registrations_answerdinner_path(user), method: :put, remote: true, class: "btn btn-sm btn-toggle", id: "dinner_answer-button-#{user.id}" %>
      </td>
      
      <% else %>
      <td>
        <%= button_to user.answer_friday, user_registrations_answerfriday_path(user), method: :put, remote: true, class: "btn btn-sm btn-toggle", id: "friday_answer-button-#{user.id}", style: "background-color: green;"%>
      </td>
      <td>
        <%= button_to user.answer_ceremony, user_registrations_answerceremony_path(user), method: :put, remote: true, class: "btn btn-sm btn-toggle", id: "ceremony_answer-button-#{user.id}" , style: "background-color: green;"%>
      </td>
      <td>
        <%= button_to user.answer_reception, user_registrations_answerreception_path(user), method: :put, remote: true, class: "btn btn-sm btn-toggle", id: "reception_answer-button-#{user.id}" , style: "background-color: green;"%>
      </td>
      <td>
        <%= button_to user.answer_diner, user_registrations_answerdinner_path(user), method: :put, remote: true, class: "btn btn-sm btn-toggle", id: "dinner_answer-button-#{user.id}" , style: "background-color: green;"%>
      </td>
      <% end %>
      <% if user.has_answered_form == 'yes' %>
          <td><span class="custom-badge badge-margin"><%= user.has_answered_form %></span></td>
      <% else %>
          <td><%= user.has_answered_form %></td>
      <% end %>
            
      <td><%= user.dietary_restriction %></td>
      <td><%= user.plusones %></td>
      <td>
      <!-- Toggle Edit Form Button -->
        <%= form_with url: reset_question_path(user), method: :patch do %>
          <%= submit_tag 'Reset', class: 'btn btn-warning' %>
        <% end %>
      </td>
      <td>
      <!-- Delete Button -->
        <%= form_with url: user_registration_destroy_path(user), method: :delete do %>
          <%= submit_tag 'Delete', class: 'btn btn-danger', id: "delete-button-#{user.id}" %>
        <% end %>
      </td>
    </tr>
    <tr id="editForm<%= user.id %>" style="display:none;">
      <td colspan="5">
      <%= simple_form_for(user, url: registration_path(user), method: :patch) do |f| %>
        <div class="form-group">
          <%= f.label :title, 'Title' %>
          <%= f.input :title, required: true, label: false, input_html: { value: user.title, class: "form-control", id: "user_title_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :name, 'Name' %>
          <%= f.input :name, required: true, label: false, input_html: { value: user.name, class: "form-control", id: "user_name_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :family_name, 'Family name' %>
          <%= f.input :family_name, required: true, label: false, input_html: { value: user.family_name, class: "form-control", id: "user_family_name_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :address, 'Address' %>
          <%= f.input :address, required: true, label: false, input_html: { value: user.address, class: "form-control", id: "user_address_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :pays, 'Country' %>
          <%= f.input :pays, required: true, label: false, input_html: { value: user.pays, class: "form-control", id: "user_pays_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :city, 'City' %>
          <%= f.input :city, required: true, label: false, input_html: { value: user.city, class: "form-control", id: "user_city_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :apartment, 'Apartment' %>
          <%= f.input :apartment, required: true, label: false, input_html: { value: user.apartment, class: "form-control", id: "user_apartment_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :postal_code, 'Postal Code' %>
          <%= f.input :postal_code, required: true, label: false, input_html: { value: user.postal_code, class: "form-control", id: "user_postal_code_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :personal_message_us, 'Our Personal Message' %>
          <%= f.input :personal_message_us, required: true, label: false, input_html: { value: user.personal_message_us, class: "form-control", id: "user_personal_message_us_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :personal_message_them, 'Their Personal Message' %>
          <%= f.input :personal_message_them, required: true, label: false, input_html: { value: user.personal_message_them, class: "form-control", id: "user_personal_message_them_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :ceremony, 'Ceremony' %>
          <%= f.input :ceremony, label: false, input_html: { value: user.ceremony, class: "form-control", id: "user_ceremony_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :friday, 'Friday' %>
          <%= f.input :friday, label: false, input_html: { value: user.friday, class: "form-control", id: "user_friday_#{user.id}" } %>
        </div>
        <div class="form-group">
          <%= f.label :dietary_restriction, 'Dietary Restriction' %>
          <%= f.input :dietary_restriction, label: false, input_html: { value: user.dietary_restriction, class: "form-control", id: "user_dietary_restriction_#{user.id}" } %>
        </div>

        <div class="form-group">
          <%= f.label :plusones, 'Plus ones' %>
          <%= f.input :plusones, label: false, input_html: { value: user.plusones, class: "form-control", id: "plusones_#{user.id}" } %>
        </div>

        <div class="form-group">
          <%= f.label :phase, 'phase' %>
          <%= f.input :phase, required: true, label: false, input_html: { value: user.phase, class: "form-control", id: "user_phase_#{user.id}" } %>
        </div>

        <div class="form-group">
          <%= f.label :is_admin, 'Role' %>
          <%= f.select :is_admin, [['Admin', true], ['User', false]], { selected: user.is_admin, include_blank: false, label: false }, { class: "form-control", id: "user_is_admin_#{user.id}" } %>
        </div>

          <div class="form-group mt-3">
            <%= f.button :submit, "Save Changes", class: "btn btn-primary" %>
          </div>
        <% end %>


    </td>
  </tr>
<% end %>


<script>
  function toggleEditForm(userId) {
    var form = document.getElementById('editForm' + userId);
    form.style.display = form.style.display === 'none' ? '' : 'none';
  }
  document.addEventListener('DOMContentLoaded', function() {
  const deleteButtons = document.querySelectorAll('[id^="delete-button-"]');

  deleteButtons.forEach(button => {
    button.addEventListener('click', function(event) {
      event.preventDefault();
      const userId = this.id.replace('delete-button-', '');
      const confirmed = confirm('Are you sure you want to delete this user?');

      if (confirmed) {
        const form = this.closest('form');
        form.submit();
      }
    });
  });
});

var button = document.querySelector('#ceremony-button-<%= @user.id %>');
// Update the button text based on the new status
button.textContent = '<%= @user.ceremony %>';

var button = document.querySelector('#friday-button-<%= @user.id %>');
// Update the button text based on the new status
button.textContent = '<%= @user.friday %>';

var button = document.querySelector('#friday_answer-button-<%= @user.id %>');
// Update the button text based on the new status
button.textContent = '<%= @user.answer_friday %>';

var button = document.querySelector('#ceremony_answer-button-<%= @user.id %>');
// Update the button text based on the new status
button.textContent = '<%= @user.answer_ceremony %>';
var button = document.querySelector('#reception_answer-button-<%= @user.id %>');
// Update the button text based on the new status
button.textContent = '<%= @user.answer_reception %>';

var button = document.querySelector('#dinner_answer-button-<%= @user.id %>');
// Update the button text based on the new status
button.textContent = '<%= @user.answer_diner %>';
</script>

