<style>
  .homepage {
    display: flex;
    background-color: #b3d1ff;
  }

  .subhomepage1,
  .subhomepage2,
  .thank-you-message {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .subhomepage1 {
    background: url('<%= asset_url('us.jpg') %>') center/cover no-repeat;
    margin: 2rem;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .subhomepage2 {
    padding: 2rem;
    background-color: #b3d1ff;
  }

.thank-you-message {
    background-color: #C8DCFF;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 20px;
    min-height: 700px; /* Set a minimum height to ensure it doesn't shrink */
    flex: 1;
    display: flex;
    flex-direction: column; /* This line is added to align items vertically */
    align-items: center; /* This will center the items horizontally */
    justify-content: center; /* Optionally add this to center items vertically as well */
}

  .savethedate-container {
    background: #C8DCFF;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 20px;
    width: 100%;
    margin: auto;
  }

  .form-group {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }

  .form-group label {
    flex: 0 0 150px;
    text-align: right;
    margin-right: 10px;
  }

  .form-control {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-actions {
    text-align: center;
  }

  .btn-primary {
    background-color: #6B2527;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;

  }

  .btn-primary:hover {
    background-color: #ce7c3f;
  }

  .btn-primary:active {
      background-color: #3e2d2b !important; /* Replace with the green color you want */
  }
</style>

<% @phase = current_user&.phase || 1 %>

<% if @phase == 1 %>
  <div class="homepage">
    <div class="subhomepage1">
    </div>
    <div class="subhomepage2">
      <div class="savethedate-container">
        <% @submitted = session[:submitted] || false %>
        <% if @submitted %>
    <!-- Display the "thank you" message -->
          <div class="thank-you-message">
            <p>Thank you for submitting! We hope to see you there.</p>
            <%= link_to "Change your info?", reset_submission_path, class: 'btn btn-primary' %>
          </div>
        <% else %>
          <div class="savethedatetext text-center">
            <h1>Hello my dear <%= @current_user.name %>!</h1>
            <h2><%= @current_user.personal_message_us %></h2>
            <% if  @current_user.vip == 2%>
              <h2>Save the 25th of May in your agenda to celebrate our bond with us!</h2>
            <% else %>
              <h2>Save the 24th & 25th of May in your agenda!</h2>
            <% end%>
          </div>
          <div class="savethedateform">
            <%= form_for(@current_user, url: user_registration_path, method: :patch) do |f| %>
              <div class="form-group">
                <%= f.label :title, 'Title:', class: 'control-label' %>
                <%= f.text_field :title, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :name, 'Name:', class: 'control-label' %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :family_name, 'Family Name:', class: 'control-label' %>
                <%= f.text_field :family_name, class: 'form-control' %>
              </div>


              <div class="form-group">
                <%= f.label :address, 'Address and Street Number:', class: 'control-label' %>
                <%= f.text_field :address, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :apartment, 'Apartment:', class: 'control-label' %>
                <%= f.text_field :apartment, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :postal_code, 'Postal Code:', class: 'control-label' %>
                <%= f.text_field :postal_code, class: 'form-control' %>
              </div>

              
              <div class="form-group">
                <%= f.label :city, 'City:', class: 'control-label' %>
                <%= f.text_field :city, class: 'form-control' %>
              </div>
              
              <div class="form-group">
                <%= f.label :country, 'Country:', class: 'control-label' %>
                <%= f.text_field :country, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :personal_message_them, 'Personal Message for Us?', class: 'control-label' %>
                <%= f.text_area :personal_message_them, class: 'form-control' %>
              </div>
              <div class="form-actions">
                <%= f.submit 'Save', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
          <%end%>
      </div>
    </div>
  </div>
<% end %>