<style>
  .homepage {
    display: flex; /* Use flexbox to create a flexible container */
  }

  .subhomepage1 {
    flex: 1; /* Take all available space */
    background-image: url('<%= image_path("us") %>') center/cover; 
  }

  .subhomepage2 {
    flex: 1; /* Take all available space */
  }
</style>

<% @phase = current_user&.phase || 1 %>

<% if @phase == 1 %>
  <div class="homepage">
    <div class="subhomepage1" style="background: url('<%= asset_url('us.jpg') %>') center/cover; height: 100vh;">
    </div>
    <div class="subhomepage2 h-100 d-flex flex-column">
      <div class="savethedate-container text-center">
        <div class="savethedatetext">
          <h1>Save The Date</h1>
        </div>
        <div class="savethedateform">
          <%= form_for(current_user, url: user_registration_path, method: :patch) do |f| %>
            <div class="form-group">
              <%= f.label :country %>
              <%= f.text_field :country, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :city %>
              <%= f.text_field :city, class: 'form-control' %>
            </div>
            
            <div class="form-group">
              <%= f.label :postal_code %>
              <%= f.text_field :postal_code, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :address_and_street_number, "Address and Street Number".freeze %>
              <%= f.text_field :address, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :apartment %>
              <%= f.text_field :apartment, class: 'form-control' %>
            </div>

            <div class="form-actions">
              <%= f.submit 'Save', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
