<style>
  .homepage {
    display: flex;
    background-color: #b3d1ff;
  }

  .subhomepage1,
  .subhomepage2,
  .thank-you-message {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .highlight-date {
      font-weight: bold; /* Ensures the text is bold */
      color: #6B2527; /* Example: sets the color to red */
      /* Add other styling properties as needed */
  }

  .highlight-date:hover {
    color: #ce7c3f;
  }

  .subhomepage1 {
    background: url('<%= asset_url('us3.jpg') %>') center/cover no-repeat;
    margin: 2rem;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .subhomepage2 {
    padding: 2rem;
    background-color: #b3d1ff;
  }

.thank-you-message {
    background-color: #C8DCFF;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 20px;
    min-height: 700px; /* Set a minimum height to ensure it doesn't shrink */
    flex: 1;
    display: flex;
    flex-direction: column; /* This line is added to align items vertically */
    align-items: center; /* This will center the items horizontally */
    justify-content: center; /* Optionally add this to center items vertically as well */
}

  .savethedate-container {
    background: #C8DCFF;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 20px;
    width: 100%;
    margin: auto;
  }

  .form-group {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }

  .form-group label {
    flex: 0 0 150px;
    text-align: right;
    margin-right: 10px;
  }

  .form-control {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-actions {
    text-align: center;
  }

  .btn-primary {
    background-color: #6B2527;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;

  }

  .btn-primary:hover {
    background-color: #ce7c3f;
  }

  .btn-primary:active {
      background-color: #3e2d2b !important; /* Replace with the green color you want */
  }

@media screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
  }

  .subhomepage1 {
    /* Adjust the size of the background image */
    background-size: cover;
    /* Adjust the position of the background image if needed */
    background-position: center;
    /* Set a minimum height if the div is too short */
    min-height: 400px; /* Adjust as needed */
  }
  .subhomepage2 {
    /* Adjust the size of the background image */
    background-size: cover;
    /* Adjust the position of the background image if needed */
    background-position: center;
    /* Set a minimum height if the div is too short */
    min-height: 400px; /* Adjust as needed */
    
    padding: 1rem;
  }

  /* Adjust margins and paddings for other elements if needed */
  .subhomepage1, .subhomepage2, .thank-you-message {
    margin: 1rem 1rem; /* Adjust according to your design */
  }
}

.part_container {
  display: flex;
  flex-direction: column; /* Stack vertically by default */
  align-items: center; /* Center items for mobile view */
  justify-content: center; /* Center content */
  max-width: 600px; /* Adjusted maximum width of the container for better responsiveness */
  width: 100%; /* Make it responsive */
  margin: 50px auto; /* Centering */
  padding: 20px;
  border-radius: 10px; /* Optional: for styling */
  box-sizing: border-box; /* Ensures padding does not affect the overall width */
}

.part_photo, .part_answer {
  flex: 1; /* Ensure they take up equal space side by side */
  box-sizing: border-box; /* Ensures padding does not affect the overall width */
  padding: 10px; /* Added padding for spacing */
}

.part_photo img, .part_answer img {
  max-width: 100%; /* Ensure images are responsive and do not overflow their container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 20px; /* Optional: for styling */
}

  .end-button {
    text-align: center; /* Center align the content */
    padding: 20px; /* Add padding to the sides */
    margin: auto; /* Center the div itself if needed */
    max-width: 600px; /* Maximum width of the end-button content */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow around the div */
    border-radius: 8px; /* Optional: Rounds the corners of the div */
    background-color: #f8f9fa; /* Light grey background */
  }
  .end-button .form-check-input {
    /* Adds a border and slight shading to the radio button itself */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc; /* Light grey border */
    width: 20px; /* Increase size for visibility */
    height: 20px; /* Increase size for visibility */
    margin-right: 10px; /* Space between radio button and label */
  }


  /* Optionally, adjust the hover state for better interactivity */
  .end-button .form-check-input:hover + .form-check-label {
    background-color: #e6e6e6; /* Slightly darker background on hover */
    cursor: pointer; /* Changes the cursor to indicate clickable area */
  }
/* Media query for screens wider than 768px */
@media (min-width: 768px) {
  .part_container {
    flex-direction: row; /* Arrange side-by-side for wider screens */
    max-width: 80%; /* Increase max width to utilize more screen space */
    align-items: stretch; /* Ensure items stretch to fill the container height */
  }

  .part_photo, .part_answer {
    width: 50%; /* Ensure each takes up half the space of the container */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center content horizontally */
    display: flex; /* Use flex to align content nicely */
    flex-direction: column; /* Stack children vertically within each */
  }
}

  .event-info {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .event-info h2 {
    font-size: 24px;
    color: #6B2527;
    font-weight: bold;

  }
  .event-info h2:hover {
    color: #ce7c3f;
  }
  .event-info p {
    font-size: 16px;
    color: #666;
  }
  .event-info .dress-code {
    font-weight: bold;
    color: #333;
  }
.form-group {
  margin-bottom: 1rem;
}

.control-label {
  margin-bottom: 2rem;
  font-weight: bold;
}

.form-check {
  margin-bottom: 0.5rem;
}

.form-check-input {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.form-check-label {
  cursor: pointer;
}

.control-label{
  flex:0
}
</style>

<% @phase = current_user&.phase || 1 %>
<%= render "shared/navbar" %>

<% if @phase == 1 %>
  <div class="homepage">
    <div class="subhomepage1">
    </div>
    <div class="subhomepage2">
      <div class="savethedate-container">
        <% @submitted = session[:submitted] || false %>
        <% if @submitted %>
    <!-- Display the "thank you" message -->
          <div class="thank-you-message">
            <p>Thank you for submitting! We hope to see you there.</p>
            <%= link_to "Change your info?", reset_submission_path, class: 'btn btn-primary' %>
          </div>
        <% else %>
          <div class="savethedatetext text-center">
            <h1>Hello my dear <%= @current_user.name %>!</h1>
            <h2><%= @current_user.personal_message_us %></h2>
            <% if  @current_user.vip == 2%>
              <h2>Save the <strong class="highlight-date">25th of May</strong> in your agenda to celebrate our bond with us!</h2>
            <% else %>
              <h2>Save the <strong class="highlight-date">24th & 25th of May</strong> in your agenda!</h2>
            <% end%>
          </div>
          <div class="savethedateform">
            <%= form_for(@current_user, url: user_registration_path, method: :patch) do |f| %>
              <div class="form-group">
                <%= f.label :title, 'Title:', class: 'control-label' %>
                <%= f.text_field :title, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :name, 'Name:', class: 'control-label' %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :family_name, 'Family Name:', class: 'control-label' %>
                <%= f.text_field :family_name, class: 'form-control' %>
              </div>


              <div class="form-group">
                <%= f.label :address, 'Address and Street Number:', class: 'control-label' %>
                <%= f.text_field :address, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :apartment, 'Apartment:', class: 'control-label' %>
                <%= f.text_field :apartment, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :postal_code, 'Postal Code:', class: 'control-label' %>
                <%= f.text_field :postal_code, class: 'form-control' %>
              </div>

              
              <div class="form-group">
                <%= f.label :city, 'City:', class: 'control-label' %>
                <%= f.text_field :city, class: 'form-control' %>
              </div>
              
              <div class="form-group">
                <%= f.label :pays, 'Country:', class: 'control-label' %>
                <%= f.text_field :pays, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :personal_message_them, 'Personal Message for Us?', class: 'control-label' %>
                <%= f.text_area :personal_message_them, class: 'form-control' %>
              </div>
              <div class="form-actions">
                <%= f.submit 'Save', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
          <%end%>
      </div>
    </div>
  </div>




<% elsif @phase == 2 %>
<% has_answered = current_user.answer_friday == 'yes' || current_user.answer_ceremony == 'yes' || current_user.answer_reception == 'yes' || current_user.answer_diner == 'yes' %>
  <% i = 0 %>
  <%= form_for(current_user, url: user_registration_path, method: :patch) do |f| %>
    <% if current_user.friday == 'yes' %>
      <div class="friday_part">
        <% if i % 2 == 0 %>
          <div class="part_container">
            <div class="part_photo">
              <%= image_tag('friday_illustration.png', alt: 'Friday illustration') %>
            </div>
            <div class="part_answer">
              <div class="event-info">
                <h2>Friday 24th May</h2>
                <p>Kasteel Hillenraad Hillenraederlaan 12<br>
                6071 NH Swalmen<br>
                Netherlands<br>
                <br>
                Barbecue: 19h
                <br>
                Friday night we will enjoy some smash-burgers during a chill barbecue, while waiting with excitment for the next day
                </p>
                <p class="dress-code">Dress code: Casual</p>
              </div>
              <div class="form-group">
                <%= f.label :answer_friday, 'Are you present at the Barbecue?', class: 'control-label' %><br>
                <div class="form-check">
                  <%= f.radio_button :answer_friday, 'yes', class: 'form-check-input'%>
                  <%= f.label 'Yes' %>
                </div>
                <div class="form-check">
                  <%= f.radio_button :answer_friday, 'no', class: 'form-check-input'%>
                  <%= f.label 'No' %>
                </div>
              </div>

  
            </div>
          </div>
        <% else %>
          <div class="part_container">
            <div class="part_answer">
              <div class="event-info">
                <h2>Friday 24th May</h2>
                <p>Kasteel Hillenraad Hillenraederlaan 12<br>
                6071 NH Swalmen<br>
                Netherlands<br>
                <br>
                Barbecue: 19h
                <br>
                Friday night we will enjoy some smash-burgers during a chill barbecue, while waiting with excitment for the next day
                </p>
                <p class="dress-code">Dress code: Casual</p>
              </div>
              <div class="form-group">
                <%= f.label :answer_friday, 'Will you be present at the Barbecue?', class: 'control-label' %><br>
                <div class="form-check">
                  <%= f.radio_button :answer_friday, 'yes', class: 'form-check-input'%>
                  <%= f.label 'Yes' %>
                </div>
                <div class="form-check">
                  <%= f.radio_button :answer_friday, 'no', class: 'form-check-input'%>
                  <%= f.label 'No' %>
                </div>
              </div>

            </div>
            <div class="part_photo">
              <%= image_tag('friday_illustration.png', alt: 'Friday illustration') %>
            </div>
          </div>
        <% end %>
        <% i += 1 %>
      </div>
    <% end %>



    <% if current_user.ceremony == 'yes' %>
      <div class="ceremony_part">
        <% if i % 2 != 0 %>
          <div class="part_container">
            <div class="part_answer">
              <div class="event-info">
                <h2>Saturday 25th May</h2>
                <p>Pastoor Pinckersstraat 3, <br>
                6071 NX Swalmen<br>
                Netherlands<br>
                <br>
                Ceremony: 14h
                <br>
                The religious ceremony will take place at the Sint Dionysiuskerk
                </p>
                <p class="dress-code">Dress code: festive elegant</p>
              </div>
                <div class="form-group">
                  <%= f.label :answer_ceremony, 'Are you present at the ceremony?', class: 'control-label' %><br>
                  <div class="form-check">
                  <%= f.radio_button :answer_ceremony, 'yes', class: 'form-check-input' %>
                  <%= f.label 'yes'%>
                </div>

                <div class="form-check">
                  <%= f.radio_button :answer_ceremony, 'no', class: 'form-check-input' %>
                  <%= f.label 'no' %>
                </div>
                </div>



            </div>
            <div class="part_photo">
              <%= image_tag('church_illustration.webp', alt: 'ceremony illustration') %>
            </div>
          </div>
          <% else %>
            <div class="part_container">
              <div class="part_photo">
                <%= image_tag('church_illustration.webp', alt: 'ceremony illustration') %>
              </div>
              <div class="part_answer">
              <div class="event-info">
                <h2>Saturday 25th May</h2>
                <p>Pastoor Pinckersstraat 3, <br>
                6071 NX Swalmen<br>
                Netherlands<br>
                <br>
                Ceremony: 14h
                <br>
                The religious ceremony will take place at the Sint Dionysiuskerk
                </p>
                <p class="dress-code">Dress code: festive elegant</p>
              </div>
              <div class="form-group">
                  <%= f.label :answer_ceremony, 'Are you present at the ceremony?', class: 'control-label' %><br>
                  <div class="form-check">
                  <%= f.radio_button :answer_ceremony, 'yes', class: 'form-check-input' %>
                  <%= f.label 'yes'%>
                </div>

                <div class="form-check">
                  <%= f.radio_button :answer_ceremony, 'no', class: 'form-check-input' %>
                  <%= f.label 'no' %>
                </div>
                </div>
  
              </div>
            </div>
            
        <% end %>
        <% i += 1 %>
      </div>
    <% end %>


    <div class="reception_part">
      <% if i % 2 != 0 %>
        <div class="part_container">
          <div class="part_answer">
            <div class="event-info">
                <h2>Saturday 25th May</h2>
                <p>Kasteel Hillenraad Hillenraederlaan 12<br>
                6071 NX Swalmen<br>
                Netherlands<br>
                <br>
                Reception: 15h30
                <br>
                Lets bathe ourselves in champagne to celebrate the newlyweds (us)
                </p>
                <p class="dress-code">Dress code: festive elegant</p>
              </div>
              <div class="form-group">
                  <%= f.label :answer_reception, 'Are you present at the reception?', class: 'control-label' %><br>
                  <div class="form-check">
                  <%= f.radio_button :answer_reception, 'yes', class: 'form-check-input' %>
                  <%= f.label 'yes'%>
                </div>

                <div class="form-check">
                  <%= f.radio_button :answer_reception, 'no', class: 'form-check-input' %>
                  <%= f.label 'no' %>
                </div>
                </div>

          </div>
          <div class="part_photo">
            <%= image_tag('reception_illustration.webp', alt: 'ceremony illustration') %>
          </div>
        </div>
        <% else %>
          <div class="part_container">
            <div class="part_photo">
              <%= image_tag('reception_illustration.webp', alt: 'ceremony illustration') %>
            </div>
            <div class="part_answer">
              <div class="event-info">
                <h2>Saturday 25th May</h2>
                <p>Kasteel Hillenraad Hillenraederlaan 12<br>
                6071 NX Swalmen<br>
                Netherlands<br>
                <br>
                Reception: 15h30
                <br>
                Lets bathe ourselves in champagne to celebrate the newlyweds (us)
                </p>
                <p class="dress-code">Dress code: festive elegant</p>
              </div>
              <div class="form-group">
                  <%= f.label :answer_reception, 'Are you present at the reception?', class: 'control-label' %><br>
                  <div class="form-check">
                  <%= f.radio_button :answer_reception, 'yes', class: 'form-check-input' %>
                  <%= f.label 'yes'%>
                </div>

                <div class="form-check">
                  <%= f.radio_button :answer_reception, 'no', class: 'form-check-input' %>
                  <%= f.label 'no' %>
                </div>
                </div>

            </div>
          </div>
      <% end %>
      <% i += 1 %>
    </div>


    <div class="dinner_part">
      <% if i % 2 != 0 %>
        <div class="part_container">
          <div class="part_answer">
              <div class="event-info">
                <h2>Saturday 25th May</h2>
                <p>Kasteel Hillenraad Hillenraederlaan 12<br>
                6071 NX Swalmen<br>
                Netherlands<br>
                <br>
                Dinner: 19h
                <br>
                Delicious food and party to the late hours
                </p>
                <p class="dress-code">Dress code: festive elegant</p>
              </div>
              <div class="form-group">
                  <%= f.label :answer_diner, 'Will you be present at the dinner?', class: 'control-label mb-2' %><br>
                  <div class="form-check">
                  <%= f.radio_button :answer_diner, 'yes', class: 'form-check-input' %>
                  <%= f.label 'yes'%>
                </div>

                <div class="form-check">
                  <%= f.radio_button :answer_diner, 'no', class: 'form-check-input' %>
                  <%= f.label 'no' %>
                </div>
                </div>
              <div class="form-group">
                  <%= f.label :dietary_restriction, 'Any dietary restrictions?', class: 'control-label' %><br>
                  <%= f.text_field :dietary_restriction, class: 'form-control' %>
                </div>

          </div>
          <div class="part_photo">
            <%= image_tag('diner_illustration.webp', alt: 'dinner illustration') %>
          </div>
        </div>
        <% else %>
          <div class="part_container">
            <div class="part_photo">
              <%= image_tag('diner_illustration.webp', alt: 'dinner illustration') %>
            </div>
            <div class="part_answer">
              <div class="event-info">
                <h2>Saturday 25th May</h2>
                <p>Kasteel Hillenraad Hillenraederlaan 12<br>
                6071 NX Swalmen<br>
                Netherlands<br>
                <br>
                Dinner: 19h
                <br>
                Delicious food and party to the late hours
                </p>
                <p class="dress-code">Dress code: festive elegant</p>
              </div>
              <div class="form-group">
                  <%= f.label :answer_diner, 'Will you be present at the dinner?', class: 'control-label' %><br>
                  <div class="form-check">
                  <%= f.radio_button :answer_diner, 'yes', class: 'form-check-input' %>
                  <%= f.label 'yes'%>
                </div>

                <div class="form-check">
                  <%= f.radio_button :answer_diner, 'no', class: 'form-check-input' %>
                  <%= f.label 'no' %>
                </div>
                </div>
              <div class="form-group">
                  <%= f.label :dietary_restriction, 'Any dietary restrictions?', class: 'control-label' %><br>
                  <%= f.text_field :dietary_restriction, class: 'form-control' %>
                </div>
            </div>
          </div>
      <% end %>
      <% i += 1 %>
    </div>


<div class="end-button">
<div class="form-group">
  <%= f.label :plus_one_attending, 'Are you also answering for a plus-one?', class: 'control-label' %>
  <div class="form-check">
    <%= radio_button_tag(:plus_one_attending, 'yes', false, class: 'form-check-input', id: 'plus_one_yes') %>
    <%= label_tag(:plus_one_yes, 'Yes', class: 'form-check-label') %>
  </div>
  <div class="form-check">
    <%= radio_button_tag(:plus_one_attending, 'no', true, class: 'form-check-input', id: 'plus_one_no') %>
    <%= label_tag(:plus_one_no, 'No', class: 'form-check-label') %>
  </div>
</div>

<div class="form-group" id="plus_one_name_group" style="display: none;">
I would anyway recommend the plus-one to connect here with his.her.them.theyre email so that they can also play the table seating game
<br>
<br>

  <%= f.label :plusones, "Plus-one's name:", class: 'control-label' %>
  <%= f.text_field :plusones, class: 'form-control' %>
</div>

    <% if !has_answered %>
      <!-- If has_answered is not true, show the save information button -->
      <div class="form-actions" style="justify-content: center; align-items: center">
        <%= f.submit 'Save your informations', class: 'btn btn-primary' %>
      </div>
    <% else %>
      <!-- If has_answered is true, show the thank you message and prompt for more information -->
    <div class="form-actions" style="justify-content: center; align-items: center; background-color: #f8f9fa; padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
      <h2>Thank you for your answer! Want to influence the <strong><%= link_to 'table seatings?', seating_path, style: "text-decoration: underline;" %></strong> answer these questions.</h2>
    </div>

    <% end %>
  <% end %>
<% end %>
    </div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const yesButton = document.getElementById('plus_one_yes');
    const noButton = document.getElementById('plus_one_no');
    const nameGroup = document.getElementById('plus_one_name_group');

    yesButton.addEventListener('change', function() {
      if (this.checked) {
        nameGroup.style.display = 'block';
      }
    });

    noButton.addEventListener('change', function() {
      if (this.checked) {
        nameGroup.style.display = 'none';
      }
    });
  });
</script>
