<style>
  .clickable-image-container {
    width: 200px; /* Default width */
    height: 200px; /* Default height */
    overflow: hidden;
    margin: 10px;
    padding: 20px;
  }

  .clickable-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.2s;
  }

  .clickable-image:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .center-container, .center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 50vh;
  }

  .center-container {
    transform: translateY(-90%);
  }

  .image-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .center-container, .center-text {
    /* Existing styles */
    padding-top: 60px; /* Add padding to ensure content starts below the navbar */
    margin-top: 0; /* Adjust if necessary to balance the added padding */
    transform: translateY(0%); /* Adjust or remove as needed to align content */
  }

  
  /* Media query for screens narrower than 768px */
  @media (max-width: 768px) {
    .clickable-image-container {
      width: 100px; /* Smaller width */
      height: 100px; /* Smaller height */
      padding: 5px; /* Adjusted padding */
    }
  .image-row {
    flex-wrap: wrap; /* Allow items to wrap to the next line as needed */
    justify-content: center; /* Keep items centered */
  }
    .center-container, .center-text {
      margin-top: 20vh; /* Adjusted for smaller screens */
      transform: translateY(-50%); /* Adjust translateY for .center-container */
    }
  .center-container, .center-text {
    margin-top: 20vh; /* Adjusted for smaller screens */
    transform: translateY(-50%);
  }

    /* Optionally adjust font sizes */
    h1 {
      font-size: 20px; /* Smaller font size for headings */
    }

    p {
      font-size: 14px; /* Smaller font size for paragraphs */
    }
  }
</style>

<% @phase = current_user&.phase || 1 %>
<%= render "shared/navbar" %>

<% if @question.order_nr == 11 %>

<div class="center-text">
  <h1>Whouhouw, you answered everything!</h1>
  <br>
  <h1>We are so looking forward to party with you</h1>
<div>
<% else %>
<div class="center-container">
  <p>Hello <%= @user.name %>! Let's play a game to decide on your seating during dinner based on your answers.</p>
  <h1><%= raw @question.question_text %></h1>
  <%= form_tag(update_current_question_path, method: :put, id: 'question-form') do %>
    <div class="image-row">
      <% @question.options.each do |option| %>
        <div class="clickable-image-container">
          <%= image_tag option, class: 'option-image img-fluid rounded clickable-image', data: { value: option } %>
          <%= radio_button_tag :selected_option, option, class: 'option-radio', style: 'display:none;' %>
        </div>
      <% end %>
    </div>

    <%= hidden_field_tag :question_id, @question.order_nr %>
  <% end %>
</div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.clickable-image').on('click', function() {
        $(this).siblings('.option-radio').prop('checked', true).trigger('click');
        $('#question-form').submit();
      });
    });
  </script>
<% end %>
